.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  line-height: 1.2;
  margin-left: 22px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__description {
  display: flex;
  background-color: white;
  color: rgba(0, 0, 0, 1);
  align-items: center;
  height: 79px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  margin: 0 20px 0 auto;
  border: none;
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

@media screen and (max-width: 320px) {
  .card__title {
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 900;
    line-height: 1.2;
    margin-left: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .card__like-button {
    background: transparent url(../images/like-inactive.svg) center no-repeat;
    width: 21px;
    height: 18px;
    margin: 0 20px 0 auto;
    border: none;
  }

  .card__like-button:hover {
    opacity: 50%;
    cursor: pointer;
  }
}
