.footer {
  display: flex;
  position: relative;
  width: 880px;
  margin: 67px 0 60px;
  align-self: center;
}

.footer__copyright {
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
  color: #545454;
  max-width: 318px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    display: flex;
    position: relative;
    width: 320px;
    margin-top: 48px;
    margin-bottom: 36px;
    align-self: center;
  }

  .footer__copyright {
    font-family: "Inter", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.2;
    text-align: left;
    color: #545454;
    width: 282px;
    margin: auto;
    text-wrap: nowrap;
  }
}
