.header {
  margin-top: 45px;
  width: 880px;
  height: 74px;
}

.header.page__section {
  border-bottom-color: #545454;
  border-bottom-style: solid;
}

@media screen and (max-width: 320px) {
  .header.page__section {
    max-width: 320px;
    height: 56px;
    margin-top: 28px;
    border-radius: 0;
    border-bottom-style: solid;
    border-bottom-color: #545454;
  }
  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
