.header {
  margin-top: 45px;
  max-width: 880px;
  color: #ffffff;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

.header__image {
  margin-bottom: 36px;
}

@media screen and (max-width: 879px) {
  .header {
    max-width: 581px;
  }
}

@media screen and (max-width: 580px) {
  .header {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 320px;
    margin: 28px 0 42px;
  }

  .header__image {
    width: 126px;
    height: 24px;
    margin-left: 27px;
  }
}
